@font-face {
  font-family: 'bpdotsregular';
  src: url('/fonts/BPdots-webfont.eot');
  src: url('/fonts/BPdots-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/BPdots-webfont.woff') format('woff'),
       url('/fonts/BPdots-webfont.ttf') format('truetype'),
       url('/fonts/BPdots-webfont.svg#bpdotsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bpmonoregular';
  src: url('/fonts/BPmono-webfont.eot');
  src: url('/fonts/BPmono-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/BPmono-webfont.woff') format('woff'),
       url('/fonts/BPmono-webfont.ttf') format('truetype'),
       url('/fonts/BPmono-webfont.svg#bpmonoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: #242424 url(/images/ggb1920.jpg) top left no-repeat;
  color: #F0F0F0;
}

h1, h2, h3 {
  font-family: 'Oxygen';
  text-align: right;
}

h1, h2, h3 {
  margin-bottom: 0;
}

h1 {
  font-family: 'Oxygen';
  font-size: 100px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: -3px;
  color: #B3F200;
  margin-right: 3px;
}

h1 span.blockchain {
  color: #84C8F2;
}

h1 span.bitminter {
  color: #FFDC20;
}

h1 sup {
  font-size: 44px;
  line-height: 44px;
  color: #999;
}

h1 span {
  min-height: 80px;
}

.refreshCount {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #9EFF00;

}

.rect {
  overflow: hidden;
  position: relative;
  float: left;
  padding: 0;
  background-color: #050505;
  background-color: rgba(5,5,5,.5);
  
}

.rect.coinbase h1,
.rect.coinbase h2,
.rect.coinbase h3,
.rect.coinbase h4,
.rect.coinbase h5,
.rect.coinbase h6 {
  color: #B3F200;
}

.rect label {
  display: block;
  text-align: left;
  background-color: transparent;
  text-transform: uppercase;
  color: #CCC;
  font-family: 'Oxygen';
  font-size: 28px;
  font-weight: 300;
}

.rect h1 {
  margin: 0;
}

.rect h3 {
  padding-right: 6px;
}

.rect-default {
  width: 378px;
  height: 210px;
  margin: 5px 0 0 5px;
}

.rect-blockchain span {
  
}

.rect-2w {
  width: 761px;
  height: 210px;
  margin: 5px 0 0 5px;
}

.rect-3w {
  width: 1144px;
  height: 210px;
  margin: 5px 0 0 5px;
}

.rect-4w {
  width: 1527px;
  height: 210px;
  margin: 5px 0 0 5px;
}

.rect-5w {
  width: 1910px;
  height: 210px;
  margin: 5px 0 0 5px;
}

.rect.korean-flag {
  background: transparent url(/images/flags-korean.png) 0px -12px no-repeat scroll;
  /*zoom: 1.5;*/
}

.rect.korean-flag h1 {
  text-align: center;
}
#koreanDateTime {
  font-size: 50px;
  color: #DFD877;
}


.graphCanvas {
  /*background-color: #111;*/
  /*background: rgba(5,5,5,.5);*/
/*background: -moz-linear-gradient(top, rgba(42,73,117,1) 0%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,73,117,1)), color-stop(29%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(42,73,117,1) 0%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(42,73,117,1) 0%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(42,73,117,1) 0%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(42,73,117,1) 0%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4975', endColorstr='#000000', GradientType=0 );*/
}

label.muni-route {
  font-family: 'bpdotsregular';
  text-shadow: 2px 2px 0px rgba(0,0,0, 1);
  color: #E6D303;
  font-size: 51px;
  padding: 0;
  margin: 0 0 0 .1em;
  line-height: 40px;
}

h1.muni-minutes {
  position: absolute;
  z-index: 99;
  bottom: .2em;
  right: .5em;
  text-align: right;
}

.muni-minutes span {
  color: #CCC;
  
  /*float: left;*/
}

.next {
  font-size: 140px;
  margin-right: .25em;
}

.muni-minutes span.nextnext {
  color: #777;
}

.muni-relax .next {
  color: #83B25D;
}

.muni-critical .next {
  color: #C10107;
}

.muni-warning .next {
  color: #CB7A01;
}



/* D3 Graph */
.axis path,
.axis line {
  fill: none;
  stroke: #D4F20D;
  shape-rendering: crispEdges;
}

.tick {
  fill: #D4F20D;
  /*stroke: #999;*/
}

.y.axis .tick text {
  font-size: 150%;
}

.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #B3F200;
  stroke-width: 1.5px;
}
/* /D3 Graph */


/* weather */

.temp {
  font-size: 72px;
  color: #CCC;
}

.highLow {
  font-size: 72px;
  color: #CCC;
}

.high {
  color: #F2AA75;
}
.low {
  color: #84C8F2;
}

.weatherDesc {
  font-size: 38px;
  color: #CCC;
  padding-right: .2em;
  letter-spacing: -1px;
  /*text-transform: uppercase;*/
}

.netWorthGoal {
  font-size: 80px;
}

.matrixCalendar {
  background-color: #333;
  background-color: rgba(51,51,51,.5);
  /*padding: 2px 0 0 2px;*/
  line-height: 11px;
}

.month {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 3px;
}

.day {
  width: 11px;
  height: 14px;
  background-color: rgba(0,0,0,.5);
  float: left;
  margin: 0px 1px 0px 0px;
  font-size: 9px;
  line-height: 14px;
  color: #555;
  text-align: center;
}

.weekend {
  background-color: #3F3A30;
  background-color: rgba(63,58,48,.5);
}

.today {
  color: #000;
  background-color: #D4F20D;
}

.sports-standings {
  color: #EFEFEF;
}

.sports-logo {
  /*opacity: .3;*/
  margin-right: .15em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.rect.sports-standings.sfgiants {
  color: #E65019;
  text-shadow: 2px 2px 0px rgba(0,0,0, 1);
  background: black url(/images/sfgiants.png) center center no-repeat scroll;
}

.rect.sports-standings.sf49ers {
  color: #AC2241;
  background: black url(/images/sf49ers2.png) center center no-repeat scroll;
}

.sports-logo.sfgiants {
  
}

.sports-standings ul {
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li.team {
  background-color: rgba(0,0,0,.5);
  margin: 0 0 0 0;
  padding: .4em;
  font-size: 18px;
  line-height: 26px;
}

li.team span {
  float: right;
  display: inline-block;
  width: 15%;
}

.todaysDate h1 {
  font-size: 64px;
  text-align: center;
  color: #D4F20D;
  font-family: 'bpmonoregular';
}

.now {
  font-size: 48px;
  text-align: center;
  color: #D4F20D;
  font-family: 'bpmonoregular';
}
