<div ng-controller="MainCtrl">
  
  <div class="rect rect-3w">
    <btc-graph graph-data="historicalData"></btc-graph>
  </div>

  <div class="rect rect-default coinbase">
    <label class="">Coinbase Net</label>
    <h1 class="">
      <sup>$</sup><span id="sellprice_net">{{coinbase.amount | number:0 }}</span>
    </h1>
    <h2 class="">
      <span id="sellprice_gross">{{coinbase.subtotal.amount | number:0 }}</span>
    </h2>
  </div>
  
<!--   <div class="rect rect-default">
    
    <label class="">Coinbase Net</label>
    <h1 class="">
      <sup>$</sup><span id="sellprice_net">{{coinbase.amount | number:0 }}</span>
    </h1>
    
  </div> -->
  
  <div class="rect rect-default">
    
    <label class="">20btc NET &times;1k</label>
    <h1 class="">
      <sup>$</sup><span id="value_20_btc">{{twentybtcnet | number:2 }}</span>
    </h1>
    
  </div>
  
  <div class="rect rect-default">
    
    <label class="">Difficulty</label>
    <h1 class="">
      <span id="difficulty" class="blockchain">{{diff | number:1 }}B</span>
    </h1>
    
  </div>
  
  <div class="rect rect-default">
    
    <label class="">Circulation</label>
    <h1 class="">
      <span id="totalbtc" class="blockchain">{{totalbtc | number:1 }}M</span>
    </h1>
    
  </div>
  
  <div class="rect rect-default">
    
    <label class="">Market Cap</label>
    <h1 class="">
      <sup>$</sup><span id="marketcap" class="blockchain">{{btcmarketcap | number:1 }}B</span>
    </h1>

  </div>

  <div class="rect rect-default">
    
    <label class="">Hashrate PH/s</label>
    <h1 class="">
      <span id="hashrate" class="blockchain">{{btchashrate | number:0 }}</span>
    </h1>

  </div>
  
  
  
  <div class="rect rect-default">
    <label class="">Last 24h Transactions</label>
    <h1 class="">
      <span id="hashrate" class="blockchain">{{transactioncount | number:0}}</span>
    </h1>
  </div>

  <div class="rect rect-default weather">
    
    <label class="">{{tomorrowHeading}}</label>
    
    <h1 class="highLow">
      <span class="degreesF high">{{weatherForecast.day1.temp.max | number:0 }}&deg;</span> /
      <span class="degreesF low">{{weatherForecast.day1.temp.min | number:0 }}&deg;</span>
    </h1>
    <h1 class="weatherDesc">
      {{weatherForecast.day1.weather[0].description}}
    </h1>
    
  </div>

  <div class="rect rect-default weather">
    
    <label class="">{{twoDaysFromNow}}</label>
    <h1 class="highLow">
      <span class="degreesF high">{{weatherForecast.day2.temp.max | number:0 }}&deg;</span> /
      <span class="degreesF low">{{weatherForecast.day2.temp.min | number:0 }}&deg;</span>
    </h1>
    <h1 class="weatherDesc">
      {{weatherForecast.day2.weather[0].description}}
    </h1>
    
  </div>


  <div class="rect rect-default weather">
    
    <label class="">{{threeDaysFromNow}}</label>
    <h1 class="highLow">
      <span class="degreesF high">{{weatherForecast.day3.temp.max | number:0 }}&deg;</span> /
      <span class="degreesF low">{{weatherForecast.day3.temp.min | number:0 }}&deg;</span>
    </h1>
    <h1 class="weatherDesc">
      {{weatherForecast.day3.weather[0].description}}
    </h1>
    
    
  </div>

  <div class="rect rect-default matrixCalendar">
    
    <div ng-repeat="month in months" class="month clearfix">
      <span ng-repeat="day in month.days" class="day" ng-class="{'today':day.isToday,'weekend':day.isWeekend}">
        <span ng-show="day.isToday">{{day.dt}}</span>
      </span>
    </div>
    
  </div>


  <div class="rect rect-default">
    
    <label class="" style="color: black;">NET WORTH GOAL</label>
    <h1 class="netWorthGoal">
      <sup>$</sup><span id="">8,712,500</span>
    </h1>

  </div>

  <div class="rect rect-3w todaysDate">
    
    <div class="now">{{now}} {{dayOfWeek}}, {{todaysDate}}</div>
    
  </div>

<!--   <div class="rect rect-default now">
    
    <label class="">&nbsp;</label>
    <h1 class="">
      <span class="now">{{now}}</span>
    </h1>

  </div>

  <div class="rect rect-default">
    <label class=""></label>
    <h1 class="">
      <span id=""></span>
    </h1>
  </div> -->

  <div class="rect rect-default sports-standings">
    
  </div>
  
  <div class="rect rect-default sports-standings sfgiants">
    <!-- <img class="sports-logo sfgiants" src="../images/sfgiants.png" border="0" alt="San Francisco Giants"/> -->
    <ul class="mlb-nl-west-standings inline">
      <li class="team" ng-repeat="team in nlWestStandings">
        {{team.team_short}}
        
        <span>{{team.gb}}</span>
        <span>{{team.pct}}</span>
        <span>{{team.l}}L</span>
        <span>{{team.w}}W</span>
        
      </li>
    </ul>
  </div>
  
  <div class="rect rect-default" ng-class="{'muni-critical':two.predictions[0] <= 3, 'muni-relax':two.predictions[0] > 3, 'not-running':two.predictions[0] === '-'}">
    <label class="muni-route">2 INBOUND</label>
    <h1 class="muni-minutes">
      <span class="next">{{two.predictions[0]}}</span>
      <span class="nextnext">{{two.predictions[1]}}</span>
    </h1>
  </div>

  <div class="rect rect-default" ng-class="{'muni-critical':three.predictions[0] <= 3, 'muni-relax':three.predictions[0] > 3, 'not-running':three.predictions[0] === '-'}">
    <label class="muni-route">3 INBOUND</label>
    <h1 class="muni-minutes">
      <span class="next">{{three.predictions[0]}}</span>
      <span class="nextnext">{{three.predictions[1]}}</span>
    </h1>
  </div>

  <div class="rect rect-default" ng-class="{true:'muni-critical', false:'muni-relax'}[twentyTwo.predictions[0] <= 3]">
    <label class="muni-route">22 MARINA</label>
    <h1 class="muni-minutes">
      <span class="next">{{twentyTwo.predictions[0]}}</span>
      <span class="nextnext">{{twentyTwo.predictions[1]}}</span>
    </h1>
  </div>

  <div class="rect rect-default" ng-class="{true:'muni-critical', false:'muni-relax'}[thirtyEight.predictions[0] <= 3]">
    <label class="muni-route">38 INBOUND</label>
    <h1 class="muni-minutes">
      <span class="next">{{thirtyEight.predictions[0]}}</span>
      <span class="nextnext">{{thirtyEight.predictions[1]}}</span>
    </h1>
  </div>

  <div class="rect rect-default korean-flag">
    <h1>
      {{dateTimeKST}}
    </h1>
  </div>
  
</div>



