<div class="rect rect-2w">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  <label class="">Coinbase Gross</label>
  <h1 class="">
    <sup>$</sup><span id="sellprice_gross">000.00</span>
  </h1>
</div>

<div class="rect rect-default">
  
  <label class="">Coinbase Net</label>
  <h1 class="">
    <sup>$</sup><span id="sellprice_net">000.00</span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class="">20btc NET</label>
  <h1 class="">
    <sup>$</sup><span id="value_20_btc">000.00</span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class="">Difficulty</label>
  <h1 class="">
    <span id="difficulty" class="blockchain">13.46B</span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class="">Circulation</label>
  <h1 class="">
    <span id="totalbtc" class="blockchain">12.93M</span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class="">Market Cap</label>
  <h1 class="">
    <sup>$</sup><span id="marketcap" class="blockchain">7.44B</span>
  </h1>

</div>

<!-- <div class="rect rect-default">
  
  <label class="">Interval</label>
  <h1 class="">
    <span id="interval" class="blockchain">7m19s</span>
  </h1>

</div> -->

<!-- <div class="rect rect-default">
  
  <label class="">24HR Price</label>
  <h1 class="">
    <sup>$</sup><span id="dayprice" class="blockchain">600</span>
  </h1>

</div> -->

<div class="rect rect-default">
  
  <label class="">Hashrate PH/s</label>
  <h1 class="">
    <span id="hashrate" class="blockchain">131.8</span>
  </h1>

</div>

<!-- <div class="rect rect-default">
  
  <label class="">Hashrate GH/s</label>
  <h1 class="">
    <span id="myhashrate" class="bitminter"></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class="">Pool <span style="text-transform: none;">m</span>BTC</label>
  <h1 class="">
    <span id="poolbalance" class="bitminter"></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class="">Minted <span style="text-transform: none;">m</span>BTC</label>
  <h1 class="">
    <span id="mintedbal" class="blockchain"></span>
  </h1>

</div> -->

<div class="rect rect-default">
  
  <label class="">Volume</label>
  <h1 class="">
    <span id="hashrate" class="blockchain">267M</span>
  </h1>

</div>

<div class="rect rect-default muni-warning">
  
  <label class="muni-route">2</label>
  <h1 class="muni-minutes">
    <span class="next">3</span>
    <span class="nextnext">18</span>
  </h1>

</div>

<div class="rect rect-default muni-relax">
  
  <label class="muni-route">3</label>
  <h1 class="muni-minutes">
    <span class="next">13</span>
    <span class="nextnext">23</span>
  </h1>

</div>

<div class="rect rect-default muni-relax">
  
  <label class="muni-route">22</label>
  <h1 class="muni-minutes">
    <span class="next">12</span>
    <span class="nextnext">29</span>
  </h1>

</div>

<div class="rect rect-default muni-critical">
  
  <label class="muni-route">38</label>
  <h1 class="muni-minutes">
    <span class="next">1</span>
    <span class="nextnext">9</span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>


<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>

<div class="rect rect-default">
  
  <label class=""></label>
  <h1 class="">
    <span id=""></span>
  </h1>

</div>