<div class="canvas1080p theme-sanfrancisco" ng-controller="MainCtrl">
  
  <div class="btc grouping">
    
    <div id="sellprice_net">
      <sup class="currency-symbol">$</sup>{{coinbase.amount | number:0 }} <label>Sell</label>
    </div>
    <div id="sellprice_gross">
      <sup class="currency-symbol">$</sup>{{coinbase.subtotal.amount | number:0 }} <label>Buy</label>
    </div>
    <div id="value_20_btc">
      <sup class="currency-symbol">$</sup>{{twentybtcnet*1000*1.5 | number:0 }} <label>30BTC Net</label>
    </div>
    <div id="volume" class="blockchain">
      {{transactioncount | number:0}} <label>Vol</label>
    </div>
    
  </div>
  
  <div class="weather grouping">
    
    <div class="daypod" ng-repeat="day in weather.daily.data">
      <canvas id="skycon-{{$index}}" width="96" height="96"></canvas>
    </div>
    
  </div>
  
  <div class="muni grouping">
  
    <div>
      <label>2</label>
      <span>{{two.predictions[0]}}</span>
    </div>
    
    <div>
      <label>3</label>
      <span>{{three.predictions[0]}}</span>
    </div>
    
    <div>
      <label>22</label>
      <span>{{twentyTwo.predictions[0]}}</span>
    </div>
    
  </div>
  
  <div class="date grouping">
    
    <h3>{{dayOfWeek}}, {{todaysDate}}</h3>
    <h1>{{now}}<span class="ampm">{{ampm}}</span></h1>
    
  </div>
  
</div>
